<p id="notice"><%= notice %></p>

<p>
  <strong>Evolution name:</strong>
  <%= @evolution.evolution_name %>
</p>

<p>
  <strong>Evolved from:</strong>
  <%= @evolution.evolved_from %>
</p>

<%= link_to 'Edit', edit_evolution_path(@evolution) %> |
<%= link_to 'Back', evolutions_path %>
